.repo {
  position: relative;
  background-color: #f2f2f8 !important;

  .avatar {
    width: 100px;
  }
  .repo__link {
    font-weight: 500;
    margin-bottom: 20px !important;
    color: #2a2a2ad2 !important;
    font-size: 14px;

    span {
      text-decoration: underline;
      font-weight: 400;
      color: steelblue;
      font-size: 13px;
      cursor: pointer;
    }
  }
  .icon {
    color: #ffcd3c;
  }

  h1 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }
  p {
    margin: 0;
    padding: 0;
    color: gray;
  }

  &__top {
    display: flex;

    &__child {
      padding: 10px;
    }

    &__data {
      display: flex;

      &__child {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;

        img {
          width: 20px;
        }

        p {
          color: #2a2a2ad2;
          font-weight: 400;
        }

        span {
          color: teal;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 13px;
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}

.chartz{
    padding: 20px 0;
}